# Ignore Mac DS_Store files
.DS_Store
__pycache__
Alerts/dualCandle.csv
Alerts/HammerToday.csv
Alerts/LRCToday.csv
Alerts/MasterBreakout.csv
Logs/app.log
Logs/BuyPopsExp.log
NSEData/HistoryDataEOD/3MINDIA.csv
NSEData/HistoryDataEOD/AARTIDRUGS.csv
NSEData/HistoryDataEOD/AARTIIND.csv
NSEData/HistoryDataEOD/AAVAS.csv
NSEData/HistoryDataEOD/ABB.csv
NSEData/HistoryDataEOD/ABBOTINDIA.csv
NSEData/HistoryDataEOD/ABCAPITAL.csv
NSEData/HistoryDataEOD/ABFRL.csv
NSEData/HistoryDataEOD/ACC.csv
NSEData/HistoryDataEOD/ADANIENT.csv
NSEData/HistoryDataEOD/ADANIGAS.csv
NSEData/HistoryDataEOD/ADANIGREEN.csv
NSEData/HistoryDataEOD/ADANIPORTS.csv
NSEData/HistoryDataEOD/ADANITRANS.csv
NSEData/HistoryDataEOD/ADVENZYMES.csv
NSEData/HistoryDataEOD/AEGISCHEM.csv
NSEData/HistoryDataEOD/AFFLE.csv
NSEData/HistoryDataEOD/AIAENG.csv
NSEData/HistoryDataEOD/AJANTPHARM.csv
NSEData/HistoryDataEOD/AKZOINDIA.csv
NSEData/HistoryDataEOD/ALEMBICLTD.csv
NSEData/HistoryDataEOD/ALKEM.csv
NSEData/HistoryDataEOD/ALKYLAMINE.csv
NSEData/HistoryDataEOD/ALOKINDS.csv
NSEData/HistoryDataEOD/AMARAJABAT.csv
NSEData/HistoryDataEOD/AMBER.csv
NSEData/HistoryDataEOD/AMBUJACEM.csv
NSEData/HistoryDataEOD/APLAPOLLO.csv
NSEData/HistoryDataEOD/APLLTD.csv
NSEData/HistoryDataEOD/APOLLOHOSP.csv
NSEData/HistoryDataEOD/APOLLOTYRE.csv
NSEData/HistoryDataEOD/ASHOKA.csv
NSEData/HistoryDataEOD/ASHOKLEY.csv
NSEData/HistoryDataEOD/ASIANPAINT.csv
NSEData/HistoryDataEOD/ASTERDM.csv
NSEData/HistoryDataEOD/ASTRAL.csv
NSEData/HistoryDataEOD/ASTRAZEN.csv
NSEData/HistoryDataEOD/ATUL.csv
NSEData/HistoryDataEOD/AUBANK.csv
NSEData/HistoryDataEOD/AUROPHARMA.csv
NSEData/HistoryDataEOD/AVANTIFEED.csv
NSEData/HistoryDataEOD/AXISBANK.csv
NSEData/HistoryDataEOD/BAJAJ-AUTO.csv
NSEData/HistoryDataEOD/BAJAJCON.csv
NSEData/HistoryDataEOD/BAJAJELEC.csv
NSEData/HistoryDataEOD/BAJAJFINSV.csv
NSEData/HistoryDataEOD/BAJAJHLDNG.csv
NSEData/HistoryDataEOD/BAJFINANCE.csv
NSEData/HistoryDataEOD/BALKRISIND.csv
NSEData/HistoryDataEOD/BALMLAWRIE.csv
NSEData/HistoryDataEOD/BALRAMCHIN.csv
NSEData/HistoryDataEOD/BANDHANBNK.csv
NSEData/HistoryDataEOD/BANKBARODA.csv
NSEData/HistoryDataEOD/BANKINDIA.csv
NSEData/HistoryDataEOD/BASF.csv
NSEData/HistoryDataEOD/BATAINDIA.csv
NSEData/HistoryDataEOD/BAYERCROP.csv
NSEData/HistoryDataEOD/BBTC.csv
NSEData/HistoryDataEOD/BDL.csv
NSEData/HistoryDataEOD/BEL.csv
NSEData/HistoryDataEOD/BEML.csv
NSEData/HistoryDataEOD/BERGEPAINT.csv
NSEData/HistoryDataEOD/BHARATFORG.csv
NSEData/HistoryDataEOD/BHARATRAS.csv
NSEData/HistoryDataEOD/BHARTIARTL.csv
NSEData/HistoryDataEOD/BHEL.csv
NSEData/HistoryDataEOD/BIOCON.csv
NSEData/HistoryDataEOD/BIRLACORPN.csv
NSEData/HistoryDataEOD/BLISSGVS.csv
NSEData/HistoryDataEOD/BLUEDART.csv
NSEData/HistoryDataEOD/BLUESTARCO.csv
NSEData/HistoryDataEOD/BOMDYEING.csv
NSEData/HistoryDataEOD/BOSCHLTD.csv
NSEData/HistoryDataEOD/BPCL.csv
NSEData/HistoryDataEOD/BRIGADE.csv
NSEData/HistoryDataEOD/BRITANNIA.csv
NSEData/HistoryDataEOD/BSE.csv
NSEData/HistoryDataEOD/BSOFT.csv
NSEData/HistoryDataEOD/CADILAHC.csv
NSEData/HistoryDataEOD/CANBK.csv
NSEData/HistoryDataEOD/CANFINHOME.csv
NSEData/HistoryDataEOD/CAPLIPOINT.csv
NSEData/HistoryDataEOD/CARBORUNIV.csv
NSEData/HistoryDataEOD/CARERATING.csv
NSEData/HistoryDataEOD/CASTROLIND.csv
NSEData/HistoryDataEOD/CCL.csv
NSEData/HistoryDataEOD/CDSL.csv
NSEData/HistoryDataEOD/CEATLTD.csv
NSEData/HistoryDataEOD/CENTRALBK.csv
NSEData/HistoryDataEOD/CENTURYPLY.csv
NSEData/HistoryDataEOD/CENTURYTEX.csv
NSEData/HistoryDataEOD/CERA.csv
NSEData/HistoryDataEOD/CESC.csv
NSEData/HistoryDataEOD/CGCL.csv
NSEData/HistoryDataEOD/CHALET.csv
NSEData/HistoryDataEOD/CHAMBLFERT.csv
NSEData/HistoryDataEOD/CHENNPETRO.csv
NSEData/HistoryDataEOD/CHOLAFIN.csv
NSEData/HistoryDataEOD/CHOLAHLDNG.csv
NSEData/HistoryDataEOD/CIPLA.csv
NSEData/HistoryDataEOD/COALINDIA.csv
NSEData/HistoryDataEOD/COCHINSHIP.csv
NSEData/HistoryDataEOD/COLPAL.csv
NSEData/HistoryDataEOD/CONCOR.csv
NSEData/HistoryDataEOD/COROMANDEL.csv
NSEData/HistoryDataEOD/CREDITACC.csv
NSEData/HistoryDataEOD/CRISIL.csv
NSEData/HistoryDataEOD/CROMPTON.csv
NSEData/HistoryDataEOD/CSBBANK.csv
NSEData/HistoryDataEOD/CUB.csv
NSEData/HistoryDataEOD/CUMMINSIND.csv
NSEData/HistoryDataEOD/CYIENT.csv
NSEData/HistoryDataEOD/DABUR.csv
NSEData/HistoryDataEOD/DALBHARAT.csv
NSEData/HistoryDataEOD/DBCORP.csv
NSEData/HistoryDataEOD/DBL.csv
NSEData/HistoryDataEOD/DCAL.csv
NSEData/HistoryDataEOD/DCBBANK.csv
NSEData/HistoryDataEOD/DCMSHRIRAM.csv
NSEData/HistoryDataEOD/DEEPAKNTR.csv
NSEData/HistoryDataEOD/DELTACORP.csv
NSEData/HistoryDataEOD/DHANUKA.csv
NSEData/HistoryDataEOD/DISHTV.csv
NSEData/HistoryDataEOD/DIVISLAB.csv
NSEData/HistoryDataEOD/DIXON.csv
NSEData/HistoryDataEOD/DLF.csv
NSEData/HistoryDataEOD/DMART.csv
NSEData/HistoryDataEOD/DRREDDY.csv
NSEData/HistoryDataEOD/ECLERX.csv
NSEData/HistoryDataEOD/EDELWEISS.csv
NSEData/HistoryDataEOD/EICHERMOT.csv
NSEData/HistoryDataEOD/EIDPARRY.csv
NSEData/HistoryDataEOD/EIHOTEL.csv
NSEData/HistoryDataEOD/ELGIEQUIP.csv
NSEData/HistoryDataEOD/EMAMILTD.csv
NSEData/HistoryDataEOD/ENDURANCE.csv
NSEData/HistoryDataEOD/ENGINERSIN.csv
NSEData/HistoryDataEOD/EQUITAS.csv
NSEData/HistoryDataEOD/ERIS.csv
NSEData/HistoryDataEOD/ESABINDIA.csv
NSEData/HistoryDataEOD/ESCORTS.csv
NSEData/HistoryDataEOD/EXIDEIND.csv
NSEData/HistoryDataEOD/FCONSUMER.csv
NSEData/HistoryDataEOD/FDC.csv
NSEData/HistoryDataEOD/FEDERALBNK.csv
NSEData/HistoryDataEOD/FINCABLES.csv
NSEData/HistoryDataEOD/FINEORG.csv
NSEData/HistoryDataEOD/FINPIPE.csv
NSEData/HistoryDataEOD/FLUOROCHEM.csv
NSEData/HistoryDataEOD/FORTIS.csv
NSEData/HistoryDataEOD/FRETAIL.csv
NSEData/HistoryDataEOD/FSL.csv
NSEData/HistoryDataEOD/GAEL.csv
NSEData/HistoryDataEOD/GAIL.csv
NSEData/HistoryDataEOD/GALAXYSURF.csv
NSEData/HistoryDataEOD/GARFIBRES.csv
NSEData/HistoryDataEOD/GEPIL.csv
NSEData/HistoryDataEOD/GESHIP.csv
NSEData/HistoryDataEOD/GHCL.csv
NSEData/HistoryDataEOD/GICRE.csv
NSEData/HistoryDataEOD/GILLETTE.csv
NSEData/HistoryDataEOD/GLAXO.csv
NSEData/HistoryDataEOD/GLENMARK.csv
NSEData/HistoryDataEOD/GMDCLTD.csv
NSEData/HistoryDataEOD/GMMPFAUDLR.csv
NSEData/HistoryDataEOD/GMRINFRA.csv
NSEData/HistoryDataEOD/GNFC.csv
NSEData/HistoryDataEOD/GODFRYPHLP.csv
NSEData/HistoryDataEOD/GODREJAGRO.csv
NSEData/HistoryDataEOD/GODREJCP.csv
NSEData/HistoryDataEOD/GODREJIND.csv
NSEData/HistoryDataEOD/GODREJPROP.csv
NSEData/HistoryDataEOD/GPPL.csv
NSEData/HistoryDataEOD/GRANULES.csv
NSEData/HistoryDataEOD/GRAPHITE.csv
NSEData/HistoryDataEOD/GRASIM.csv
NSEData/HistoryDataEOD/GREAVESCOT.csv
NSEData/HistoryDataEOD/GRINDWELL.csv
NSEData/HistoryDataEOD/GRSE.csv
NSEData/HistoryDataEOD/GSFC.csv
NSEData/HistoryDataEOD/GSPL.csv
NSEData/HistoryDataEOD/GUJALKALI.csv
NSEData/HistoryDataEOD/GUJGASLTD.csv
NSEData/HistoryDataEOD/GULFOILLUB.csv
NSEData/HistoryDataEOD/HAL.csv
NSEData/HistoryDataEOD/HATHWAY.csv
NSEData/HistoryDataEOD/HATSUN.csv
NSEData/HistoryDataEOD/HAVELLS.csv
NSEData/HistoryDataEOD/HCLTECH.csv
NSEData/HistoryDataEOD/HDFC.csv
NSEData/HistoryDataEOD/HDFCAMC.csv
NSEData/HistoryDataEOD/HDFCBANK.csv
NSEData/HistoryDataEOD/HDFCLIFE.csv
NSEData/HistoryDataEOD/HEG.csv
NSEData/HistoryDataEOD/HEIDELBERG.csv
NSEData/HistoryDataEOD/HERITGFOOD.csv
NSEData/HistoryDataEOD/HEROMOTOCO.csv
NSEData/HistoryDataEOD/HFCL.csv
NSEData/HistoryDataEOD/HINDALCO.csv
NSEData/HistoryDataEOD/HINDCOPPER.csv
NSEData/HistoryDataEOD/HINDPETRO.csv
NSEData/HistoryDataEOD/HINDUNILVR.csv
NSEData/HistoryDataEOD/HINDZINC.csv
NSEData/HistoryDataEOD/HONAUT.csv
NSEData/HistoryDataEOD/HSCL.csv
NSEData/HistoryDataEOD/HUDCO.csv
NSEData/HistoryDataEOD/IBREALEST.csv
NSEData/HistoryDataEOD/IBULHSGFIN.csv
NSEData/HistoryDataEOD/ICICIBANK.csv
NSEData/HistoryDataEOD/ICICIGI.csv
NSEData/HistoryDataEOD/ICICIPRULI.csv
NSEData/HistoryDataEOD/ICRA.csv
NSEData/HistoryDataEOD/IDBI.csv
NSEData/HistoryDataEOD/IDEA.csv
NSEData/HistoryDataEOD/IDFC.csv
NSEData/HistoryDataEOD/IDFCFIRSTB.csv
NSEData/HistoryDataEOD/IEX.csv
NSEData/HistoryDataEOD/IFBIND.csv
NSEData/HistoryDataEOD/IGL.csv
NSEData/HistoryDataEOD/IIFL.csv
NSEData/HistoryDataEOD/IIFLWAM.csv
NSEData/HistoryDataEOD/INDHOTEL.csv
NSEData/HistoryDataEOD/INDIACEM.csv
NSEData/HistoryDataEOD/INDIAMART.csv
NSEData/HistoryDataEOD/INDIANB.csv
NSEData/HistoryDataEOD/INDIGO.csv
NSEData/HistoryDataEOD/INDOCO.csv
NSEData/HistoryDataEOD/INDUSINDBK.csv
NSEData/HistoryDataEOD/INFIBEAM.csv
NSEData/HistoryDataEOD/INFRATEL.csv
NSEData/HistoryDataEOD/INFY.csv
NSEData/HistoryDataEOD/INGERRAND.csv
NSEData/HistoryDataEOD/INOXLEISUR.csv
NSEData/HistoryDataEOD/IOB.csv
NSEData/HistoryDataEOD/IOC.csv
NSEData/HistoryDataEOD/IOLCP.csv
NSEData/HistoryDataEOD/IPCALAB.csv
NSEData/HistoryDataEOD/IRB.csv
NSEData/HistoryDataEOD/IRCON.csv
NSEData/HistoryDataEOD/IRCTC.csv
NSEData/HistoryDataEOD/ISEC.csv
NSEData/HistoryDataEOD/ITC.csv
NSEData/HistoryDataEOD/ITI.csv
NSEData/HistoryDataEOD/J&KBANK.csv
NSEData/HistoryDataEOD/JAGRAN.csv
NSEData/HistoryDataEOD/JAICORPLTD.csv
NSEData/HistoryDataEOD/JAMNAAUTO.csv
NSEData/HistoryDataEOD/JBCHEPHARM.csv
NSEData/HistoryDataEOD/JCHAC.csv
NSEData/HistoryDataEOD/JINDALSAW.csv
NSEData/HistoryDataEOD/JINDALSTEL.csv
NSEData/HistoryDataEOD/JKCEMENT.csv
NSEData/HistoryDataEOD/JKLAKSHMI.csv
NSEData/HistoryDataEOD/JKPAPER.csv
NSEData/HistoryDataEOD/JKTYRE.csv
NSEData/HistoryDataEOD/JMFINANCIL.csv
NSEData/HistoryDataEOD/JSL.csv
NSEData/HistoryDataEOD/JSLHISAR.csv
NSEData/HistoryDataEOD/JSWENERGY.csv
NSEData/HistoryDataEOD/JSWSTEEL.csv
NSEData/HistoryDataEOD/JTEKTINDIA.csv
NSEData/HistoryDataEOD/JUBLFOOD.csv
NSEData/HistoryDataEOD/JUSTDIAL.csv
NSEData/HistoryDataEOD/JYOTHYLAB.csv
NSEData/HistoryDataEOD/KAJARIACER.csv
NSEData/HistoryDataEOD/KALPATPOWR.csv
NSEData/HistoryDataEOD/KANSAINER.csv
NSEData/HistoryDataEOD/KARURVYSYA.csv
NSEData/HistoryDataEOD/KEC.csv
NSEData/HistoryDataEOD/KEI.csv
NSEData/HistoryDataEOD/KNRCON.csv
NSEData/HistoryDataEOD/KOLTEPATIL.csv
NSEData/HistoryDataEOD/KOTAKBANK.csv
NSEData/HistoryDataEOD/KRBL.csv
NSEData/HistoryDataEOD/KSB.csv
NSEData/HistoryDataEOD/KSCL.csv
NSEData/HistoryDataEOD/KTKBANK.csv
NSEData/HistoryDataEOD/L&TFH.csv
NSEData/HistoryDataEOD/LALPATHLAB.csv
NSEData/HistoryDataEOD/LAOPALA.csv
NSEData/HistoryDataEOD/LAURUSLABS.csv
NSEData/HistoryDataEOD/LAXMIMACH.csv
NSEData/HistoryDataEOD/LEMONTREE.csv
NSEData/HistoryDataEOD/LICHSGFIN.csv
NSEData/HistoryDataEOD/LINDEINDIA.csv
NSEData/HistoryDataEOD/LT.csv
NSEData/HistoryDataEOD/LTI.csv
NSEData/HistoryDataEOD/LTTS.csv
NSEData/HistoryDataEOD/LUPIN.csv
NSEData/HistoryDataEOD/LUXIND.csv
NSEData/HistoryDataEOD/M&M.csv
NSEData/HistoryDataEOD/M&MFIN.csv
NSEData/HistoryDataEOD/MAHABANK.csv
NSEData/HistoryDataEOD/MAHLOG.csv
NSEData/HistoryDataEOD/MAHSCOOTER.csv
NSEData/HistoryDataEOD/MAHSEAMLES.csv
NSEData/HistoryDataEOD/MANAPPURAM.csv
NSEData/HistoryDataEOD/MARICO.csv
NSEData/HistoryDataEOD/MARUTI.csv
NSEData/HistoryDataEOD/MASFIN.csv
NSEData/HistoryDataEOD/MCDOWELL-N.csv
NSEData/HistoryDataEOD/MCX.csv
NSEData/HistoryDataEOD/METROPOLIS.csv
NSEData/HistoryDataEOD/MFSL.csv
NSEData/HistoryDataEOD/MGL.csv
NSEData/HistoryDataEOD/MHRIL.csv
NSEData/HistoryDataEOD/MIDHANI.csv
NSEData/HistoryDataEOD/MINDACORP.csv
NSEData/HistoryDataEOD/MINDAIND.csv
NSEData/HistoryDataEOD/MINDTREE.csv
NSEData/HistoryDataEOD/MMTC.csv
NSEData/HistoryDataEOD/MOIL.csv
NSEData/HistoryDataEOD/MOTHERSUMI.csv
NSEData/HistoryDataEOD/MOTILALOFS.csv
NSEData/HistoryDataEOD/MPHASIS.csv
NSEData/HistoryDataEOD/MRF.csv
NSEData/HistoryDataEOD/MRPL.csv
NSEData/HistoryDataEOD/MUTHOOTFIN.csv
NSEData/HistoryDataEOD/NAM-INDIA.csv
NSEData/HistoryDataEOD/NATCOPHARM.csv
NSEData/HistoryDataEOD/NATIONALUM.csv
NSEData/HistoryDataEOD/NAUKRI.csv
NSEData/HistoryDataEOD/NAVINFLUOR.csv
NSEData/HistoryDataEOD/NAVNETEDUL.csv
NSEData/HistoryDataEOD/NBCC.csv
NSEData/HistoryDataEOD/NCC.csv
NSEData/HistoryDataEOD/NESCO.csv
NSEData/HistoryDataEOD/NESTLEIND.csv
NSEData/HistoryDataEOD/NETWORK18.csv
NSEData/HistoryDataEOD/NFL.csv
NSEData/HistoryDataEOD/NH.csv
NSEData/HistoryDataEOD/NHPC.csv
NSEData/HistoryDataEOD/NIACL.csv
NSEData/HistoryDataEOD/NILKAMAL.csv
NSEData/HistoryDataEOD/NLCINDIA.csv
NSEData/HistoryDataEOD/NMDC.csv
NSEData/HistoryDataEOD/NOCIL.csv
NSEData/HistoryDataEOD/NTPC.csv
NSEData/HistoryDataEOD/OBEROIRLTY.csv
NSEData/HistoryDataEOD/OFSS.csv
NSEData/HistoryDataEOD/OIL.csv
NSEData/HistoryDataEOD/OMAXE.csv
NSEData/HistoryDataEOD/ONGC.csv
NSEData/HistoryDataEOD/ORIENTCEM.csv
NSEData/HistoryDataEOD/ORIENTELEC.csv
NSEData/HistoryDataEOD/ORIENTREF.csv
NSEData/HistoryDataEOD/PAGEIND.csv
NSEData/HistoryDataEOD/PAPERPROD.csv
NSEData/HistoryDataEOD/PEL.csv
NSEData/HistoryDataEOD/PERSISTENT.csv
NSEData/HistoryDataEOD/PETRONET.csv
NSEData/HistoryDataEOD/PFC.csv
NSEData/HistoryDataEOD/PFIZER.csv
NSEData/HistoryDataEOD/PGHH.csv
NSEData/HistoryDataEOD/PGHL.csv
NSEData/HistoryDataEOD/PHILIPCARB.csv
NSEData/HistoryDataEOD/PHOENIXLTD.csv
NSEData/HistoryDataEOD/PIDILITIND.csv
NSEData/HistoryDataEOD/PIIND.csv
NSEData/HistoryDataEOD/PNB.csv
NSEData/HistoryDataEOD/PNBHOUSING.csv
NSEData/HistoryDataEOD/PNCINFRA.csv
NSEData/HistoryDataEOD/POLYCAB.csv
NSEData/HistoryDataEOD/POLYMED.csv
NSEData/HistoryDataEOD/POLYPLEX.csv
NSEData/HistoryDataEOD/POWERGRID.csv
NSEData/HistoryDataEOD/POWERINDIA.csv
NSEData/HistoryDataEOD/PRAJIND.csv
NSEData/HistoryDataEOD/PRESTIGE.csv
NSEData/HistoryDataEOD/PRSMJOHNSN.csv
NSEData/HistoryDataEOD/PSPPROJECT.csv
NSEData/HistoryDataEOD/PTC.csv
NSEData/HistoryDataEOD/PVR.csv
NSEData/HistoryDataEOD/QUESS.csv
NSEData/HistoryDataEOD/RADICO.csv
NSEData/HistoryDataEOD/RAIN.csv
NSEData/HistoryDataEOD/RAJESHEXPO.csv
NSEData/HistoryDataEOD/RALLIS.csv
NSEData/HistoryDataEOD/RAMCOCEM.csv
NSEData/HistoryDataEOD/RATNAMANI.csv
NSEData/HistoryDataEOD/RAYMOND.csv
NSEData/HistoryDataEOD/RBLBANK.csv
NSEData/HistoryDataEOD/RCF.csv
NSEData/HistoryDataEOD/RECLTD.csv
NSEData/HistoryDataEOD/REDINGTON.csv
NSEData/HistoryDataEOD/RELAXO.csv
NSEData/HistoryDataEOD/RELIANCE.csv
NSEData/HistoryDataEOD/RITES.csv
NSEData/HistoryDataEOD/RVNL.csv
NSEData/HistoryDataEOD/SAIL.csv
NSEData/HistoryDataEOD/SANOFI.csv
NSEData/HistoryDataEOD/SBICARD.csv
NSEData/HistoryDataEOD/SBILIFE.csv
NSEData/HistoryDataEOD/SBIN.csv
NSEData/HistoryDataEOD/SCHAEFFLER.csv
NSEData/HistoryDataEOD/SCHNEIDER.csv
NSEData/HistoryDataEOD/SCI.csv
NSEData/HistoryDataEOD/SEQUENT.csv
NSEData/HistoryDataEOD/SFL.csv
NSEData/HistoryDataEOD/SHILPAMED.csv
NSEData/HistoryDataEOD/SHOPERSTOP.csv
NSEData/HistoryDataEOD/SHREECEM.csv
NSEData/HistoryDataEOD/SHRIRAMCIT.csv
NSEData/HistoryDataEOD/SIEMENS.csv
NSEData/HistoryDataEOD/SIS.csv
NSEData/HistoryDataEOD/SJVN.csv
NSEData/HistoryDataEOD/SKFINDIA.csv
NSEData/HistoryDataEOD/SOBHA.csv
NSEData/HistoryDataEOD/SOLARA.csv
NSEData/HistoryDataEOD/SOLARINDS.csv
NSEData/HistoryDataEOD/SONATSOFTW.csv
NSEData/HistoryDataEOD/SOUTHBANK.csv
NSEData/HistoryDataEOD/SPARC.csv
NSEData/HistoryDataEOD/SPICEJET.csv
NSEData/HistoryDataEOD/SRF.csv
NSEData/HistoryDataEOD/SRTRANSFIN.csv
NSEData/HistoryDataEOD/STAR.csv
NSEData/HistoryDataEOD/STARCEMENT.csv
NSEData/HistoryDataEOD/SUDARSCHEM.csv
NSEData/HistoryDataEOD/SUMICHEM.csv
NSEData/HistoryDataEOD/SUNDARMFIN.csv
NSEData/HistoryDataEOD/SUNDRMFAST.csv
NSEData/HistoryDataEOD/SUNPHARMA.csv
NSEData/HistoryDataEOD/SUNTECK.csv
NSEData/HistoryDataEOD/SUNTV.csv
NSEData/HistoryDataEOD/SUPPETRO.csv
NSEData/HistoryDataEOD/SUPRAJIT.csv
NSEData/HistoryDataEOD/SUPREMEIND.csv
NSEData/HistoryDataEOD/SUVENPHAR.csv
NSEData/HistoryDataEOD/SUZLON.csv
NSEData/HistoryDataEOD/SWANENERGY.csv
NSEData/HistoryDataEOD/SWARAJENG.csv
NSEData/HistoryDataEOD/SWSOLAR.csv
NSEData/HistoryDataEOD/SYMPHONY.csv
NSEData/HistoryDataEOD/SYNGENE.csv
NSEData/HistoryDataEOD/TASTYBITE.csv
NSEData/HistoryDataEOD/TATACHEM.csv
NSEData/HistoryDataEOD/TATACOFFEE.csv
NSEData/HistoryDataEOD/TATACOMM.csv
NSEData/HistoryDataEOD/TATACONSUM.csv
NSEData/HistoryDataEOD/TATAELXSI.csv
NSEData/HistoryDataEOD/TATAINVEST.csv
NSEData/HistoryDataEOD/TATAMOTORS.csv
NSEData/HistoryDataEOD/TATAMTRDVR.csv
NSEData/HistoryDataEOD/TATAPOWER.csv
NSEData/HistoryDataEOD/TATASTEEL.csv
NSEData/HistoryDataEOD/TATASTLBSL.csv
NSEData/HistoryDataEOD/TCIEXP.csv
NSEData/HistoryDataEOD/TCNSBRANDS.csv
NSEData/HistoryDataEOD/TCS.csv
NSEData/HistoryDataEOD/TEAMLEASE.csv
NSEData/HistoryDataEOD/TECHM.csv
NSEData/HistoryDataEOD/THERMAX.csv
NSEData/HistoryDataEOD/THYROCARE.csv
NSEData/HistoryDataEOD/TIINDIA.csv
NSEData/HistoryDataEOD/TIMKEN.csv
NSEData/HistoryDataEOD/TITAN.csv
NSEData/HistoryDataEOD/TORNTPHARM.csv
NSEData/HistoryDataEOD/TORNTPOWER.csv
NSEData/HistoryDataEOD/TRENT.csv
NSEData/HistoryDataEOD/TRIDENT.csv
NSEData/HistoryDataEOD/TTKPRESTIG.csv
NSEData/HistoryDataEOD/TV18BRDCST.csv
NSEData/HistoryDataEOD/TVSMOTOR.csv
NSEData/HistoryDataEOD/TVTODAY.csv
NSEData/HistoryDataEOD/UBL.csv
NSEData/HistoryDataEOD/UCOBANK.csv
NSEData/HistoryDataEOD/UFLEX.csv
NSEData/HistoryDataEOD/UJJIVAN.csv
NSEData/HistoryDataEOD/UJJIVANSFB.csv
NSEData/HistoryDataEOD/ULTRACEMCO.csv
NSEData/HistoryDataEOD/UNIONBANK.csv
NSEData/HistoryDataEOD/UPL.csv
NSEData/HistoryDataEOD/VAIBHAVGBL.csv
NSEData/HistoryDataEOD/VAKRANGEE.csv
NSEData/HistoryDataEOD/VARROC.csv
NSEData/HistoryDataEOD/VBL.csv
NSEData/HistoryDataEOD/VENKEYS.csv
NSEData/HistoryDataEOD/VGUARD.csv
NSEData/HistoryDataEOD/VINATIORGA.csv
NSEData/HistoryDataEOD/VIPIND.csv
NSEData/HistoryDataEOD/VMART.csv
NSEData/HistoryDataEOD/VOLTAS.csv
NSEData/HistoryDataEOD/VRLLOG.csv
NSEData/HistoryDataEOD/VSTIND.csv
NSEData/HistoryDataEOD/VTL.csv
NSEData/HistoryDataEOD/WABCOINDIA.csv
NSEData/HistoryDataEOD/WELCORP.csv
NSEData/HistoryDataEOD/WELSPUNIND.csv
NSEData/HistoryDataEOD/WESTLIFE.csv
NSEData/HistoryDataEOD/WHIRLPOOL.csv
NSEData/HistoryDataEOD/WIPRO.csv
NSEData/HistoryDataEOD/WOCKPHARMA.csv
NSEData/HistoryDataEOD/YESBANK.csv
NSEData/HistoryDataEOD/ZEEL.csv
NSEData/HistoryDataEOD/ZENSARTECH.csv
NSEData/HistoryDataEOD/ZYDUSWELL.csv
Logs/BuyPopsExp.log
